{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic"
        }
      }
    ]
  ],
  "plugins": [
    "@react-dev-inspector/babel-plugin"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "@react-dev-inspector/babel-plugin",
          {
            "excludes": [".next"]
          }
        ]
      ]
    }
  }
}
